html {
    background: url('https://static.wikia.nocookie.net/leaguefactions/images/0/0c/Freljord_Fortress.jpg/revision/latest?cb=20150713013411') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

.logo {
    max-width: 65px;
    max-height: 65px;
    display: flex;
    justify-content: flex-start;
    margin: 1px;
}

h1 {
    text-align: center;
    font-family: copperplate;
    font-size: 100px;
    color: #e0d778;
    text-shadow: 7px 7px rgba(77, 71, 163, 0.7);
    margin: 60px 0px 30px 0px;
}

.container {
    background: rgba(53, 96, 190, 0.7);
    font-size: 20px;
    text-align: center;
    color: wheat;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0px 100px 0px 100px;
    text-shadow: 5px 5px black;
}